.container {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  margin-bottom: 2rem;
  margin-left: 200px;
  margin-right: 200px;
  align-items: center;
  justify-content: space-between;
  max-width: 900px;
  width: 100%;
}

@media only screen and (max-width: 1200px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
}

.main {
  padding: 80px 0;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 64px;
  color: #393E41;
  font-weight: bold;
  text-align: left;
  margin-left: 0;
}

.subheader {
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  color: #393E41;
}

.text {
  font-size: 24px;
  margin: 0px;
  text-align: left;
}

.smallheader {
  font-weight: bold;
  font-size: 36px;
  color: #393341;
  margin: 0px;
  padding: 15px;
}

.card {
  width: 800px;
  height: 175px;
  border: 2px solid #1E2019;
  box-sizing: border-box;
  border-radius: 10px;
}

.tag {
  width: 109px;
  height: 31px;
  background: #587B7F;
  border-radius: 5px;
  margin: 15px;
  text-align: center;
  align-items: center;
}